.place__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 109%;
  margin: 0 auto;
  max-width: 288px;
}

@media screen and (min-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 340px;
    max-height: 92px;
    padding-bottom: 48px;
    margin: 0;
  }
}


@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 106%;
    max-width: 440px;
    max-height: 152px;
  }
}

@media screen and (min-width: 1280px) {
  .place__title {
    max-width: 460px;
    max-height: 152px;
  }
}