.gallery {
  padding: 64px 0 64px;
  margin: 0 auto;
  max-width: 288px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-auto-rows: 216px;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .gallery {
    max-width: 720px;
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 264px;
    gap: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery {
    max-width: 928px;
    -ms-grid-columns: 1fr 14px 1fr 14px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 225px;
    gap: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    max-width: 1184px;
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 213px;
    gap: 16px;
  }
}