.places {
  max-width: 100%;
  padding-bottom: 66px;
}

@media screen and (min-width: 768px) {
  .places {
    max-width: calc(100% - 48px);
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    max-width: calc(100% - 96px);
  }
}

@media screen and (min-width: 1280px) {
  .places {
    max-width: calc(100% - 296px);
  }
}
