.lead {
  max-width: 100vw;
  margin: 0 auto;
  padding-top: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
}


@media screen and (min-width: 1024px) {
  .lead {
    max-width: calc(100vw - 96px);
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    max-width: calc(100vw - 296px);
    padding-top: 56px;
  }
}