.header__logo {
  background-image: url("../../../images/header-logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  min-width: 142px; /* надо понять почему если задать width max то картинка не будет отображаться*/
  min-height: 42px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    min-width: 176px;
    min-height: 52px;
  }
}
