.header {
  max-width: calc(100vw - 10%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: calc(100vw - 48px);
  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: calc(100vw - 96px);
  }
}

@media screen and (min-width: 1280px) {
	.header {
		max-width: calc(1280px - 96px);
	}
}