
.place__text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0 auto;
  max-width: 288px;
  padding-bottom: 25px;
}

.place__text:last-child {
  padding-bottom: 0;
}


@media screen and (min-width: 768px) {
  .place__text{
    max-width: 352px;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__text {
    max-width: 456px;
    font-size: 18px;
    line-height: 29px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1280px) {
  .place__text{
    max-width: 484px;
  }
}
