
.place__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin: 0 auto;
  max-width: 288px;
}

.place__paragraph .place__text:first-of-type {
  padding-bottom: 25px;
}


@media screen and (min-width: 768px) {
  .place__text{
    max-width: 352px;
    font-size: 18px;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__text {
    max-width: 456px;
  }
  .place__paragraph .place__text:first-of-type {
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .place__text{
    max-width: 484px;
  }
}
