.footer__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  text-decoration: none;
  color: #fff;
}
/*если псевдокласс с отступами указать ниже медиазапроса то падинги будут появляться
несмотря на то что этот же псевдокласс указан в медиазапросе обнуенным*/
.footer__list li:nth-child(even) {
  padding: 32px 0 32px;
}

@media screen and (min-width: 768px) {
  .footer__link {
    margin-right: 18px;
    font-size: 16px;
    line-height: 112%;
  }
  .footer__list li:nth-child(even) {
    padding: 0;
  }
}

.footer__link:hover {
  opacity: 0.8;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}