.lead__title {
  margin: 0 auto;
  max-width: calc(100% - 32px);
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 110%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .lead__title {
    max-width: calc(100% - 48px);
    font-size: 96px;
    line-height: 104%;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    max-width: calc(100% - 208px);
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    max-width: calc(100% - 264px);
  }
}