.intro {
  max-width: calc(100% - 32px);
  margin: 0 auto;
  padding-top: 64px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .intro {
    max-width: calc(100% - 48px);
    padding-top: 64px;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    max-width: calc(100% - 96px);
    padding-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    max-width: calc(100% - 296px);
  }
}