.cover {
  background-image: url("../../images/dmitrii-vaccinium-22833-unsplash.svg");
  background-repeat: no-repeat;
  max-width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  margin-bottom: 92px;
}