.cover {
  background-image: url("../../images/cover-trains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    min-height: 740px;
    max-width: 1184px;
  }
}