.place__link {
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  text-decoration-line: underline;
  color: #FFFFFF;
}
/*
@media screen and (max-width: 1024px) {
  .place__link {

  }
}

@media screen and (max-width: 768px) {
  .place__link {
    
  }
}

@media screen and (max-width: 320px) {
  .place__link {
    
  }
}
*/

.place__link:hover {
  opacity: 0.8;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}