.cover__title {
  max-width: 560px;
  max-height: 152px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;
  margin: 0 auto;
  padding-bottom: 32px;
}
/*
@media screen and (max-width: 1024px) {
  .cover__title {

  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    
  }
}
*/
@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    padding-bottom: 16px;
    line-height: 109%;
    max-width: 80%;
  }
}