.footer__list {
  list-style-type: none;
  padding: 0 0 48px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
}