.footer__list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .footer__list {
    flex-direction: column;
    padding-bottom: 48px;
  }
}