.place {
  border: solid 1px greenyellow;
  display: grid;
  grid-template-columns: 460px 486px;
  grid-template-rows: 152px 460px;
  row-gap: 48px;
  column-gap: 40px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 352px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    display: flex;
    flex-direction: column;
    
  }
}
