.place__url-heading {
  margin: 0;
  margin-bottom: 12px;
  width: 456px;
  height: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}