.place__url-heading {
  max-width: 288px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  padding: 0 0 12px;
  margin: 0;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .place__url-heading {
    line-height: 120%;
    max-width: 100%;
  }
}