.place__website {
 max-width: 288px;
 max-height: 46px;
 padding: 32px 0 32px;
 margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .place__website {
    max-width: 352px;
    margin: 0;
    padding: 0 0 48px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .place__website {
    max-width: 456px;
  }
}