
.place__website {
  max-width: 288px;
  max-height: 46px;
  padding: 32px 0 32px;
  margin: 0 auto;
 }
 
 @media screen and (min-width: 768px) {
   .place__website {
     max-width: 352px;
     margin: 0;
     padding: 0 0 48px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     -ms-flex-item-align: end;
         align-self: flex-end;
   }
 }
 
 @media screen and (min-width: 1024px) {
   .place__website {
     max-width: 456px;
   }
 }